[tool.black]
line-length = 120
target-version = ['py36']

[build-system]
requires = [
    "setuptools>=40.6.0",
    "wheel",
    "numpy>=1.13",
    "numba>=0.49.1"
]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
junit_family=xunit2
